

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

:root {
	--index: calc(1vw + 1vh);
}
.header {
    background: linear-gradient(135deg, #5e4181, #412356);
    display: flex;
    border-bottom: 3px solid #674d88; /* Сделана более тонкой и цветово сочетающейся */
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0; /* Добавлен отступ для внутреннего содержимого от краев шапки */
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%; /* Уменьшено для добавления внутренних отступов */
    max-width: 1200px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-links {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0 20px;
}

.nav-link {
    background-color: #674d88;
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px; /* Увеличено расстояние для большего пространства */
    padding: 10px 15px; /* Добавлен внутренний отступ для увеличения области клика */
    border-radius: 8px; /* Увеличен радиус скругления */
    transition: background-color 0.3s ease, color 0.3s ease; /* Добавлен переход цвета текста */
}

.nav-link:hover {
    background-color: #7a66a9;
    color: #e1e1e1; /* Светлее цвет при наведении */
}

.header-logo {
    height: 100px; /* Уменьшено для лучшего вписывания */
    transition: transform 0.3s ease;
    flex-shrink: 0;
}

.header-logo:hover {
    cursor: pointer;
    transform: scale(1.05); /* Увеличено масштабирование для большего эффекта */
}

.container {
    text-align: center;
    padding: 20px;
    background: linear-gradient(135deg, #5e4181, #412356);
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.description-block {
    background-color: #ffffff; /* Белый фон */
    color: #412356; /* Темно-фиолетовый текст */
    padding: 40px; /* Увеличенный отступ */
    border-radius: 20px; /* Более закругленные углы */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Более выраженная тень */
    margin: 40px auto; /* Увеличенный отступ сверху и снизу, автоматическое выравнивание по центру */
    max-width: 800px; 
    text-align: center; /* Выравнивание текста по центру */
    display: flex; /* Включаем flexbox */
    flex-direction: column; /* Элементы располагаются вертикально */
    align-items: center; /* Выравнивание элементов по центру */
    gap: 20px; /* Расстояние между элементами внутри блока */
}

.description-block h1 {
    color: #5e4181; /* Чуть более яркий оттенок фиолетового для заголовка */
    margin-bottom: 20px; /* Увеличенный отступ снизу */
    font-size: 28px; /* Увеличенный размер шрифта для заголовка */
    font-weight: bold; /* Жирное начертание */
}

.description-block p {
    line-height: 1.8; /* Увеличенный межстрочный интервал */
    font-size: 18px; /* Увеличенный размер шрифта */
    max-width: 700px; /* Максимальная ширина абзаца, чтобы текст не растягивался на всю ширину блока */
    text-align: justify; /* Выравнивание текста по ширине */
    margin: 0 auto; /* Автоматическое выравнивание абзаца по центру */
}


h1 {
    font-size: 24px;
    margin: 10px 0;
    font-weight: bold;
}

p {
    font-size: 16px;
    margin: 10px 0;
}

.to-second {
    margin: 20px 0;
    /* Увеличение отступов с учетом --index */
    padding: calc(1.5 * var(--index)) calc(3 * var(--index));
    border: none;
    background-color: #6741a4;
    color: white;
    cursor: pointer;
    /* Увеличение размера шрифта с учетом --index */
    font-size: calc(1.8 * var(--index));
    /* Увеличение радиуса скругления с учетом --index */
    border-radius: calc(2.5 * var(--index));
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.to-second:hover {
    background-color: #573781;
    /* Увеличение размера кнопки при наведении */
    transform: scale(1.05);
}

.team-info h2, .team-info p {
    color: #EDE7F6; /* Светло-фиолетовый цвет текста для лучшей читаемости */
    margin: calc(2 * var(--index)) 0; /* Динамический отступ, использующий переменную --index */
    /* Динамический размер шрифта, увеличенный в зависимости от --index */
    font-size: calc(2.2 * var(--index)); 
    font-weight: bold; /* Жирное начертание текста */
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5); /* Тень текста для глубины */
}

.team {
    display: flex;
    justify-content: center;
    gap: 40px; /* Увеличенный промежуток между членами команды */
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
    margin-top: 20px; /* Дополнительный верхний отступ */
}

.member img {
    border-radius: 50%; /* Закругленные углы для фотографий */
    width: 150px; /* Увеличенный размер изображений */
    height: 150px; /* Увеличенный размер изображений */
    object-fit: cover; /* Обеспечивает корректное заполнение контентом */
    border: 3px solid #B39DDB; /* Светло-фиолетовая рамка вокруг изображений */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень вокруг фотографий для эффекта глубины */
    transition: transform 0.3s ease;
}
.member:hover img {
    transform: scale(1.1);

}

.member p {
    color: #EDE7F6; /* Светло-фиолетовый цвет текста */
    margin-top: 10px; /* Отступ сверху */
    font-size: 18px; /* Увеличенный размер шрифта для имен */
    font-weight: bold; /* Жирное начертание текста */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Тень для текста, добавляет читаемость на фоне */
}

.foot {
    width: 100%;
    bottom: 0; /* Прикрепляем к нижней части экрана */
    left: 0; /* Выравниваем по левому краю */
    text-align: center; /* Центрируем текст */
    background: linear-gradient(135deg, #5e4181, #412356), rgba(0, 0, 0, 0.2); /* Основной фон с небольшой черной прозрачностью */
    padding: 10px 0; /* Добавляем отступ */
    color: white; /* Белый цвет текста */
}