<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RealtyOracle</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="icon" href="../static/src/logo.png" type="image/x-icon">
    <script src="../static/js/to_index.js" defer></script>
    <script src="../static/js/to_second.js" defer></script>
</head>
<body>
    <div class="header">
        <div class="header-content">
            <!-- Объединяем левые ссылки и правые ссылки для гибкости расположения -->
            <div class="nav-container">
                <ul class="nav-links nav-links-left">
                    <li><a href="msk/" class="nav-link">Москва</a></li>
                    <li><a href="spb/" class="nav-link">Санкт-Петербург</a></li>
                    <li><a href="nn/" class="nav-link">Нижний Новгород</a></li>
                </ul>
                <img src="../static/src/logo.png" alt="Логотип RealtyOracle" class="header-logo" id="logo">
                <ul class="nav-links nav-links-right">
                    <li><a href="kazan/" class="nav-link">Казань</a></li>
                    <li><a href="novosibirsk/" class="nav-link">Новосибирск</a></li>
                    <li><a href="ekb/" class="nav-link">Екатеринбург</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="description-block">
            <h1>Инновационный веб-сервис для прогнозирования цены на недвижимость</h1>
            <p>
                Вашему вниманию представляется новаторский веб-сервис, предназначенный для прогнозирования цен на недвижимость. Разработанный с использованием передовых технологий искусственного интеллекта и машинного обучения, наш сервис предлагает пользователям уникальную возможность получить точные и обоснованные прогнозы стоимости жилой и коммерческой недвижимости.
                Благодаря глубокому анализу больших данных, включая районные характеристики, экономические индикаторы и множество других факторов, наш сервис выделяется на фоне других инструментов анализа рынка. Мы предоставляем пользователям интуитивно понятный интерфейс, который позволяет легко получить доступ к сложному аналитическому инструментарию, делая процесс принятия решений о покупке, продаже или инвестировании в недвижимость более обоснованным и эффективным.
            </p>
        </div>
        <button class="to-second" id="toSecond">Приступить</button>
        <div class="team-info">
            <h2>Команда разработки</h2>
            <p>POST MLrony</p>
        </div>

        <div class="team">
            <!-- Добавьте здесь фотографии команды -->
            <div class="member">
                <a href="https://t.me/mihneh" target="_blank">
                    <img src="../static/src/misha.jpg" alt="Михаил Нехорошкин">
                </a>
                <p>Михаил Нехорошкин</p>
            </div>
            <div class="member">
                <a href="https://t.me/RebelRaider" target="_blank">
                    <img src="../static/src/leonid.png" alt="Леонид Чесников">
                </a>
                <p>Леонид Чесников</p>
            </div>
            <div class="member">
                <a href="https://t.me/supppik" target="_blank">
                    <img src="../static/src/andrey.jpg" alt="Андрей Супханкулов">
                </a>
                <p>Андрей Супханкулов</p>
            </div>

        </div>
        <br>
        <br>
        <br>
    </div>
    <div class="foot">
        <footer>
            <p>&copy; RealtyOracle, 2024</p>
        </footer>
    </div>
</body>
</html>
