<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/second.css">
    <link rel="icon" href="../static/src/logo.png" type="image/x-icon">
    <script src="../static/js/transition.js" defer></script>
    <script src="../static/js/to_index.js" defer></script>
    <title>Выбор города</title>
</head>
<body>
    <div class="header">
        <div class="header-content">
            <!-- Объединяем левые ссылки и правые ссылки для гибкости расположения -->
            <div class="nav-container">
                <ul class="nav-links nav-links-left">
                    <li><a href="msk/" class="nav-link">Москва</a></li>
                    <li><a href="spb/" class="nav-link">Санкт-Петербург</a></li>
                    <li><a href="nn/" class="nav-link">Нижний Новгород</a></li>
                </ul>
                <img src="../static/src/logo.png" alt="Логотип RealtyOracle" class="header-logo" id="logo">
                <ul class="nav-links nav-links-right">
                    <li><a href="kazan/" class="nav-link">Казань</a></li>
                    <li><a href="novosibirsk/" class="nav-link">Новосибирск</a></li>
                    <li><a href="ekb/" class="nav-link">Екатеринбург</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Выберите город, в котором хотите сделать предсказание цены.</h1>
        <button class="button" data-href="msk/">Москва</button>
        <button class="button" data-href="spb/">Санкт-Петербург</button>
        <button class="button" data-href="nn/">Нижний Новгород</button>
        <button class="button" data-href="kazan/">Казань</button>
        <button class="button" data-href="novosibirsk/">Новосибирск</button>
        <button class="button" data-href="ekb/">Екатеринбург</button>
    </div>
    <div class="feedback">
        <h2>Отправьте нам сообщение!</h2>
        <p>Если у Вас есть вопросы или предложения по сотрудничеству, заполните форму ниже.</p>
        <form>
            <input type="text" placeholder="Ваше имя" name="name" required style="width: 200px; height: 20px;">
            <input type="email" placeholder="Ваш email" name="email" required style="width: 200px; height: 20px;">
            <textarea placeholder="Ваше сообщение" name="message" required></textarea>
            <button type="submit" class="button submit-button">Отправить</button>
        </form>
    </div>
    
    <div class="foot">
        <footer>
            <p>&copy; RealtyOracle, 2024</p>
        </footer>
    </div>
    
</body>
</html>
