<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Санкт-Петербург</title>
    <link rel="stylesheet" href="../static/css/cities.css">
    <link rel="icon" href="../static/src/logo.png" type="image/x-icon">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=db164d78-6e0f-4c7f-b20b-d116c15d57f3&lang=ru_RU"></script>
    <script src="../static/js/ymap.js" defer></script>
    <script src="../static/js/modal.js" defer></script>
    <script src="../static/js/submit.js" defer></script>
    <script src="../static/js/read_data_towns.js" defer></script>
    <script src="../static/js/try_year.js" defer></script>
    <script src="../static/js/to_index.js" defer></script>
</head>
<body>
    <div class="header">
        <div class="header-content">
            <!-- Объединяем левые ссылки и правые ссылки для гибкости расположения -->
            <div class="nav-container">
                <ul class="nav-links nav-links-left">
                    <li><a href="msk/" class="nav-link">Москва</a></li>
                    <li><a href="spb/" class="nav-link">Санкт-Петербург</a></li>
                    <li><a href="nn/" class="nav-link">Нижний Новгород</a></li>
                </ul>
                <img src="../static/src/logo.png" alt="Логотип RealtyOracle" class="header-logo" id="logo">
                <ul class="nav-links nav-links-right">
                    <li><a href="kazan/" class="nav-link">Казань</a></li>
                    <li><a href="novosibirsk/" class="nav-link">Новосибирск</a></li>
                    <li><a href="ekb/" class="nav-link">Екатеринбург</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="description-block">
            <h1>Санкт - Петербург</h1>
        </div>

        <div class="address-selector">
            <button id="selectAddress">Выбрать</button>
            <input type="text" id="addressInput" placeholder="Выберите адрес" readonly>
        </div>
        
        <!-- Модальное окно -->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Введите адрес или выберите точку на карте</p>
                <div id="map" class="yamap"></div>
                <input type="text" id="selectedLocation" placeholder="Выбранное местоположение будет отображаться здесь" readonly>
                <select id="districtSelector" style="overflow-y: auto;">
                    <option value="Район не выбран" disabled selected>Выберите район</option>
                    <option>Агалатовское сельское поселение</option>
                    <option>Адмиралтейский</option>
                    <option>Аннино пос</option>
                    <option>Бегуницы д</option>
                    <option>Большие Колпаны д</option>
                    <option>Большой Сабск д</option>
                    <option>Бугры д</option>
                    <option>Ваганово-2 п</option>
                    <option>Василеостровский</option>
                    <option>Воейково п</option>
                    <option>Всеволожск г</option>
                    <option>Всеволожский</option>
                    <option>Всеволожское городское поселение</option>
                    <option>Выборг г</option>
                    <option>Выборгский</option>
                    <option>Вырица п</option>
                    <option>Гатчина г</option>
                    <option>Горелово</option>
                    <option>Город Первых ЖК</option>
                    <option>Гостилицы дер</option>
                    <option>Гостицы дер</option>
                    <option>Дубровка ГП</option>
                    <option>Дубровка п</option>
                    <option>Елизаветино п</option>
                    <option>Ермилово пос</option>
                    <option>Жилгородок пос</option>
                    <option>Заневка д</option>
                    <option>Заневское городское поселение</option>
                    <option>Зеленогорск г</option>
                    <option>Ивангород г</option>
                    <option>Калининский</option>
                    <option>Кальтино д</option>
                    <option>Касимово д</option>
                    <option>Кингисепп г</option>
                    <option>Кировск г</option>
                    <option>Кировский</option>
                    <option>Коломяги муниципальный округ</option>
                    <option>Колпино г</option>
                    <option>Колтуши д</option>
                    <option>Коммунар г</option>
                    <option>Коммунары пос</option>
                    <option>Копорское сельское поселение</option>
                    <option>Копорье с</option>
                    <option>Коркино дер. (Тосненский р-н)</option>
                    <option>Красногвардейский</option>
                    <option>Красное Село</option>
                    <option>Красносельский</option>
                    <option>Красный Бор пос</option>
                    <option>Кронштадт</option>
                    <option>Кронштадтский</option>
                    <option>Кудрово</option>
                    <option>Кузьмоловский пос</option>
                    <option>Куйвозовское сельское поселение</option>
                    <option>Курортный</option>
                    <option>Лаголово дер</option>
                    <option>Левашово п</option>
                    <option>Ленинское пос</option>
                    <option>Лесколово пос</option>
                    <option>Ломоносов г</option>
                    <option>Луга г</option>
                    <option>Лукаши п</option>
                    <option>Малое Верево д</option>
                    <option>Малое Карлино дер</option>
                    <option>Металлострой п</option>
                    <option>Мистолово д</option>
                    <option>Молодежное пос</option>
                    <option>Московский</option>
                    <option>Мурино</option>
                    <option>Муринское городское поселение</option>
                    <option>Невский</option>
                    <option>Никольское г</option>
                    <option>Новогорелово пос</option>
                    <option>Новое Девяткино д</option>
                    <option>Новосаратовка д</option>
                    <option>Новосветское СП</option>
                    <option>Новоселье пос</option>
                    <option>Новый Учхоз п</option>
                    <option>Нурма дер</option>
                    <option>Оредеж п</option>
                    <option>Оржицы дер</option>
                    <option>Отрадное г</option>
                    <option>Павлово г</option>
                    <option>Павлово пос</option>
                    <option>Павлово с</option>
                    <option>Парголово п</option>
                    <option>Первомайское пос</option>
                    <option>Песочный п</option>
                    <option>Петергоф г</option>
                    <option>Петроградский</option>
                    <option>Петродворцовый</option>
                    <option>Пикколово дер</option>
                    <option>Почап д</option>
                    <option>Приморский</option>
                    <option>Пудомяги д</option>
                    <option>Пушкин г</option>
                    <option>Пушкинский</option>
                    <option>Разметелево д</option>
                    <option>Рахья п</option>
                    <option>Романовка д</option>
                    <option>Романовское сельское поселение</option>
                    <option>Рощино пос</option>
                    <option>Рябово пос</option>
                    <option>Сагомилье д</option>
                    <option>Свердлова им. пос</option>
                    <option>Севребрянский п</option>
                    <option>Сертолово</option>
                    <option>Сертолово-2 микрорайон</option>
                    <option>Сестрорецк г</option>
                    <option>Сиверский ГП</option>
                    <option>Скотное д</option>
                    <option>Сланцы г</option>
                    <option>Сосновый Бор г</option>
                    <option>Старая д</option>
                    <option>Стрельна пос</option>
                    <option>Тайцы п</option>
                    <option>Тельмана пос</option>
                    <option>Тельмановское СП</option>
                    <option>Торосово п</option>
                    <option>Тосно г</option>
                    <option>Узигонты дер</option>
                    <option>Усть-Славянка</option>
                    <option>Фрунзенский</option>
                    <option>Фёдоровское пос</option>
                    <option>Центральный</option>
                    <option>Шлиссельбург г</option>
                    <option>Шум с</option>
                    <option>Шушары п</option>
                    <option>Щеглово п</option>
                    <option>Щегловское сельское поселение</option>
                    <option>Юкки д</option>
                    <option>Янино-1</option>
                    <option>Янино-2 д</option>
                    <!-- Добавьте остальные опции аналогичным образом -->
                </select>
                <button id="confirmSelection">Подтвердить</button> 
            </div>
        </div>

        <br>
        <div class="input-container">
            <span class="description-block-params">Площадь</span>
            <div class="divider"></div>
            <input type="text" placeholder="м²" id="square" class="input-field"/>
            <span class="description-block-params">Количество комнат</span>
            <div class="divider"></div>
            <input type="text" placeholder="Если студия, введите 0" id="rooms" class="input-field" />
        </div>
        <div class="input-container">
            <span class="description-block-params">Год постройки</span>
            <div class="divider"></div>
            <input type="number" placeholder="Год" id="building_year" class="input-field" min="1800" max="2024" />
            <span class="description-block-params">Ремонт</span>
            <div class="divider"></div>
            <select id="keep">
                <option value="good">Хороший</option>
                <option value="cosmetic">Косметический</option>
                <option value="design">Дизайнерский</option>
                <option value="black">Черновой</option>
                <option value="well_black">Улучшенный черновой</option>
                <option value="half">Частичный</option>
                <option value="need">Без ремонта</option>
            </select>
        </div>
        <div class="input-container">
            <span class="description-block-params">Количество этажей</span>
            <div class="divider"></div>
            <input type="text" placeholder="Число: 1, 3, 5, ..." id="floors" class="input-field" />
            <span class="description-block-params">Тип жилья</span>
            <div class="divider"></div>
            <select id="type">
                <option value="flat">Квартира</option>
                <option value="room">Комната</option>
                <option value="apart">Апартаменты</option>
                <option value="obshaga">Общежитие</option>
            </select>
        </div>
        <div class="input-container">
            <span class="description-block-params">Этаж</span>
            <div class="divider"></div>
            <input type="text" placeholder="Число: 1, 3, 5, ..." id="floor" class="input-field" />
            <span class="description-block-params">Евроформат</span>
            <div class="divider"></div>
            <select id="euro">
                <option value="True">Да</option>
                <option value="">Нет</option>
            </select>
        </div>
        <div class="input-container">
            <span class="description-block-params">Балкон</span>
            <div class="divider"></div>
            <select id="balcon">
                <option value="no_balcon">Нет балкона</option>
                <option value="yes_balcon">Балкон</option>
                <option value="loggia">Лоджия</option>
                <option value="more_balcon">Большой балкон</option>
                <option value="more_loggia">Большая лоджия</option>
                <option value="erker">Эркер</option>
                <option value="terrace">Терраса</option>
            </select>
            <span class="description-block-params">Количество спален</span>
            <div class="divider"></div>
            <input type="text" placeholder="Число: 1, 3, 5, ..." id="bedrooms_cnt" class="input-field" />
        </div> 

        <div class="input-container">
            <span class="description-block-params">Ипотека</span>
            <div class="divider"></div>
            <select id="mortgage">
                <option value="True">Да</option>
                <option value="">Нет</option>
            </select>
            <span class="description-block-params">Тип стен</span>
            <div class="divider"></div>
            <div class="divider"></div>
            <select id="wall_id">
                <option value="14">Блочные</option>
                <option value="12">Панельные</option>
                <option value="11">Кирпичные</option>
                <option value="15">Монолитные</option>
                <option value="65">Кирпично-монолитные</option>
            </select>
        </div>


        <button class="start-button" id="sendData">Рассчитать</button>


        </div>
        
        <div class="foot">
            <footer>
                <p>&copy; RealtyOracle, 2024</p>
            </footer>
        </div>
    </div>
    
</body>
</html>
