<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RealtyOracle</title>
    <link rel="stylesheet" href="../static/css/cities.css">
    <link rel="icon" href="../static/src/logo.png" type="image/x-icon">
    <script src="../static/js/ymap.js" defer></script>
    <script src="../static/js/modal.js" defer></script>
    <script src="../static/js/submit.js" defer></script>
    <script src="../static/js/try_year.js" defer></script>
    <script src="../static/js/read_data_towns.js" defer></script>
    <script src="../static/js/transition.js" defer></script>
</head>
<body>
    <div class="header">
        <div class="header-content">
            <img src="../static/src/logo.png" alt="Логотип RealtyOracle" class="header-logo" id="logo">
        </div>
    </div>
    
    <div class="container">
        <div class="description-block">
            <h1>Екатеринбург</h1>
        </div>

        <div class="address-selector">
            <button id="selectAddress">Выбрать</button>
            <input type="text" id="addressInput" placeholder="Выберите адрес" readonly>
        </div>
        
        <!-- Модальное окно -->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Введите адрес или выберите точку на карте</p>
                <div id="map" class="yamap"></div>
                <input type="text" id="selectedLocation" placeholder="Выбранное местоположение будет отображаться здесь" readonly>
                <select id="districtSelector" style="overflow-y: auto;">
                    <option value="" disabled selected>Выберите район</option>
                    <option>Автовокзал</option>
                    <option>Академический</option>
                    <option>Арамиль город</option>
                    <option>Арамиль поселок</option>
                    <option>Артёмовский</option>
                    <option>Асбест город</option>
                    <option>Ачит</option>
                    <option>Балтым</option>
                    <option>Белоярский</option>
                    <option>Березовский город</option>
                    <option>Бобровский</option>
                    <option>Богданович</option>
                    <option>Большое Седельниково</option>
                    <option>Большой Исток</option>
                    <option>Ботанический</option>
                    <option>Бруснятское</option>
                    <option>Буланаш</option>
                    <option>ВИЗ</option>
                    <option>Верх-Исетский</option>
                    <option>Верх-Нейвинский</option>
                    <option>Верхнее Дуброво</option>
                    <option>Верхние Серги</option>
                    <option>Верхняя Пышма</option>
                    <option>Вокзальный</option>
                    <option>Вторчермет</option>
                    <option>Втузгородок</option>
                    <option>Гагарский</option>
                    <option>Горный Щит</option>
                    <option>Грязновское</option>
                    <option>Двуреченск</option>
                    <option>Дегтярск</option>
                    <option>Елизавет</option>
                    <option>ЖБИ</option>
                    <option>Завокзальный</option>
                    <option>Заречный</option>
                    <option>Заречный город</option>
                    <option>Изоплит</option>
                    <option>Исток</option>
                    <option>Калиновский</option>
                    <option>Калья</option>
                    <option>Каменск-Уральский</option>
                    <option>Карасьеозёрский</option>
                    <option>Кашино</option>
                    <option>Кедровка</option>
                    <option>Кедровое</option>
                    <option>Клевакинское (Каменский городской округ)</option>
                    <option>Ключевск</option>
                    <option>Колчедан</option>
                    <option>Кольцово</option>
                    <option>Компрессорный</option>
                    <option>Косулино</option>
                    <option>Красноуфимск</option>
                    <option>Красный</option>
                    <option>Курманка</option>
                    <option>Лесной</option>
                    <option>Лечебный</option>
                    <option>Лиственный поселок</option>
                    <option>Лосиный</option>
                    <option>Малый Исток</option>
                    <option>Мичуринский</option>
                    <option>Монетный</option>
                    <option>Нижние Серги</option>
                    <option>Нижний Тагил</option>
                    <option>Нижняя Тура</option>
                    <option>Никольское</option>
                    <option>Новая Сортировка</option>
                    <option>Новокольцовский</option>
                    <option>Новоуткинск</option>
                    <option>Озёрный посёлок</option>
                    <option>Октябрьский (Сысертский округ)</option>
                    <option>Парковый</option>
                    <option>Патруши</option>
                    <option>Первоуральск</option>
                    <option>Пионерский</option>
                    <option>Пионерский поселок</option>
                    <option>Полдневая</option>
                    <option>Полевской</option>
                    <option>Птицефабрика</option>
                    <option>Ревда</option>
                    <option>Реж</option>
                    <option>Рефтинский</option>
                    <option>Рудный</option>
                    <option>Садовый</option>
                    <option>Северка (Екатеринбург)</option>
                    <option>Серов</option>
                    <option>Сибирский</option>
                    <option>Синие Камни</option>
                    <option>Совхозный</option>
                    <option>Солнечный</option>
                    <option>Сосновый бор</option>
                    <option>Среднеуральск</option>
                    <option>Старая Сортировка</option>
                    <option>Сухой Лог</option>
                    <option>Сысерть город</option>
                    <option>Сысерть поселок</option>
                    <option>Туринск</option>
                    <option>УНЦ</option>
                    <option>Уктус</option>
                    <option>Уралмаш</option>
                    <option>Химмаш</option>
                    <option>Центр</option>
                    <option>Чкаловский</option>
                    <option>Чусовское озеро</option>
                    <option>Шабровский</option>
                    <option>Шарташский рынок</option>
                    <option>Широкая речка</option>
                    <option>Эльмаш</option>
                    <option>Юго-Западный</option>
                </select>
                <button id="confirmSelection">Подтвердить</button>
            </div>
        </div>

        <script src="https://api-maps.yandex.ru/2.1/?apikey=db164d78-6e0f-4c7f-b20b-d116c15d57f3&lang=ru_RU"></script>
        <br>
        <div class="input-container">
            <span class="description-block-params">Площадь</span>
            <div class="divider"></div>
            <input type="text" placeholder="м²" id="square" class="input-field"/>
            <span class="description-block-params">Количество комнат</span>
            <div class="divider"></div>
            <input type="text" placeholder="Если студия, введите 0" id="rooms" class="input-field" />
        </div>
        <div class="input-container">
            <span class="description-block-params">Год постройки</span>
            <div class="divider"></div>
            <input type="number" placeholder="Год" id="building_year" class="input-field" min="1800" max="2024" />
            <span class="description-block-params">Ремонт</span>
            <div class="divider"></div>
            <select id="keep">
                <option value="good">Хороший</option>
                <option value="cosmetic">Косметический</option>
                <option value="design">Дизайнерский</option>
                <option value="black">Черновой</option>
                <option value="well_black">Улучшенный черновой</option>
                <option value="half">Частичный</option>
                <option value="need">Без ремонта</option>
            </select>
        </div>
        <div class="input-container">
            <span class="description-block-params">Количество этажей</span>
            <div class="divider"></div>
            <input type="text" placeholder="Число: 1, 3, 5, ..." id="floors" class="input-field" />
            <span class="description-block-params">Тип жилья</span>
            <div class="divider"></div>
            <select id="type">
                <option value="flat">Квартира</option>
                <option value="room">Комната</option>
                <option value="apart">Апартаменты</option>
                <option value="obshaga">Общежитие</option>
            </select>
        </div>
        <div class="input-container">
            <span class="description-block-params">Этаж</span>
            <div class="divider"></div>
            <input type="text" placeholder="Число: 1, 3, 5, ..." id="floor" class="input-field" />
            <span class="description-block-params">Евроформат</span>
            <div class="divider"></div>
            <select id="euro">
                <option value="True">Да</option>
                <option value="False">Нет</option>
            </select>
        </div>
        <div class="input-container">
            <span class="description-block-params">Балкон</span>
            <div class="divider"></div>
            <select id="balcon">
                <option value="no_balcon">Нет балкона</option>
                <option value="yes_balcon">Балкон</option>
                <option value="loggia">Лоджия</option>
                <option value="more_balcon">Большой балкон</option>
                <option value="more_loggia">Большая лоджия</option>
                <option value="erker">Эркер</option>
                <option value="terrace">Терраса</option>
            </select>
            <span class="description-block-params">Количество спален</span>
            <div class="divider"></div>
            <input type="text" placeholder="Число: 1, 3, 5, ..." id="bedrooms_cnt" class="input-field" />
        </div>

        <div class="input-container">
            <span class="description-block-params">Ипотека</span>
            <div class="divider"></div>
            <select id="mortgage">
                <option value="True">Да</option>
                <option value="False">Нет</option>
            </select>
            <span class="description-block-params">Тип стен</span>
            <div class="divider"></div>
            <div class="divider"></div>
            <select id="wall_id">
                <option value="65.0">Блочные</option>
                <option value="11.0">Панельные</option>
                <option value="15.0">Кирпичные</option>
                <option value="12.0">Монолитные</option>
                <option value="64.0">Кирпично-монолитные</option>
            </select>
        </div>


        <button class="start-button" id="sendData">Рассчитать</button>
        
        </div>
        
        <div class="foot">
            <footer>
                <p>&copy; RealtyOracle, 2024</p>
            </footer>
        </div>
    </div>
    
</body>
</html>
