<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RealtyOracle</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="icon" href="../static/src/logo.png" type="image/x-icon">
    <script src="../static/js/transition.js" defer></script>
</head>
<body>
    <div class="header">
        <div class="header-content">
            <img src="../static/src/logo.png" alt="Логотип RealtyOracle" class="header-logo" id="logo">
        </div>
    </div>

    <div class="container">
        <div class="description-block">
            <h1>Инновационный веб-сервис для прогнозирования цены на недвижимость</h1>
            <p>
                Вашему вниманию представляется новаторский веб-сервис, предназначенный для прогнозирования цен на недвижимость. Разработанный с использованием передовых технологий искусственного интеллекта и машинного обучения, наш сервис предлагает пользователям уникальную возможность получить точные и обоснованные прогнозы стоимости жилой и коммерческой недвижимости.
                Благодаря глубокому анализу больших данных, включая районные характеристики, экономические индикаторы и множество других факторов, наш сервис выделяется на фоне других инструментов анализа рынка. Мы предоставляем пользователям интуитивно понятный интерфейс, который позволяет легко получить доступ к сложному аналитическому инструментарию, делая процесс принятия решений о покупке, продаже или инвестировании в недвижимость более обоснованным и эффективным.
            </p>
        </div>
        <button class="to-second">Приступить</button>
        <div class="team-info">
            <h2>Команда разработки</h2>
            <p>POST MLrony</p>
        </div>

        <div class="team">
            <!-- Добавьте здесь фотографии команды -->
            <div class="member">
                <a href="https://ru.wikipedia.org/wiki/Эйнштейн,_Альберт" target="_blank">
                    <img src="../static/src/ein.jpg" alt="Имя1">
                </a>
                <p>Альберт Эйнштейн</p>
            </div>
            <div class="member">
                <a href="https://ru.wikipedia.org/wiki/Оппенгеймер,_Роберт" target="_blank">
                    <img src="../static/src/opp.jpg" alt="Имя2">
                </a>
                <p>Роберт Оппенгеймер</p>
            </div>
            <div class="member">
                <a href="https://ru.wikipedia.org/wiki/Фейнман,_Ричард" target="_blank">
                    <img src="../static/src/feynman.jpg" alt="Имя3">
                </a>
                <p>Ричард Фейнман</p>
            </div>

        </div>
        <br>
        <br>
        <br>
    </div>
    <div class="foot">
        <footer>
            <p>&copy; RealtyOracle, 2024</p>
        </footer>
    </div>
</body>
</html>
