<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RealtyOracle</title>
    <link rel="stylesheet" href="../static/css/cities.css">
    <link rel="icon" href="../static/src/logo.png" type="image/x-icon">
    <script src="../static/js/ymap.js" defer></script>
    <script src="../static/js/modal.js" defer></script>
    <script src="../static/js/submit.js" defer></script>
    <script src="../static/js/try_year.js" defer></script>
    <script src="../static/js/to_index.js" defer></script>
</head>
<body>
    <div class="header">
        <div class="header-content">
            <!-- Объединяем левые ссылки и правые ссылки для гибкости расположения -->
            <div class="nav-container">
                <ul class="nav-links nav-links-left">
                    <li><a href="msk.html" class="nav-link">Москва</a></li>
                    <li><a href="spb.html" class="nav-link">Санкт-Петербург</a></li>
                    <li><a href="nn.html" class="nav-link">Нижний Новгород</a></li>
                </ul>
                <img src="../static/src/logo.png" alt="Логотип RealtyOracle" class="header-logo" id="logo">
                <ul class="nav-links nav-links-right">
                    <li><a href="kazan.html" class="nav-link">Казань</a></li>
                    <li><a href="novosibirsk.html" class="nav-link">Новосибирск</a></li>
                    <li><a href="ekb.html" class="nav-link">Екатеринбург</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="description-block">
            <h1>Казань</h1>
        </div>

        <div class="address-selector">
            <button id="selectAddress">Выбрать</button>
            <input type="text" id="addressInput" placeholder="Выберите адрес" readonly>
        </div>
        
        <!-- Модальное окно -->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Введите адрес или выберите точку на карте</p>
                <div id="map" class="yamap"></div>
                <input type="text" id="selectedLocation" placeholder="Выбранное местоположение будет отображаться здесь" readonly>
                <select id="districtSelector" style="overflow-y: auto;">
                    <option value="" disabled selected>Выберите район</option>
                    <option>Авиастроительный</option>
                    <option>Адмиралтейская слобода</option>
                    <option>Айша</option>
                    <option>Арск</option>
                    <option>Березовка</option>
                    <option>Богатые Сабы пгт</option>
                    <option>Большие Дербышки</option>
                    <option>Васильево</option>
                    <option>Вахитовский</option>
                    <option>Верхний Услон</option>
                    <option>Высокая гора ж.д. ст. пос</option>
                    <option>Высокая гора с</option>
                    <option>Высокогорский</option>
                    <option>Габишево с</option>
                    <option>Дербышки</option>
                    <option>Зеленодольск</option>
                    <option>Иннополис</option>
                    <option>Кадышево</option>
                    <option>Кировский</option>
                    <option>Константиновка</option>
                    <option>Кощаково</option>
                    <option>Куюки д</option>
                    <option>Лаишево</option>
                    <option>Лесной городок</option>
                    <option>Московский</option>
                    <option>Нижний Услон</option>
                    <option>Новая Тура</option>
                    <option>Ново-Савиновский</option>
                    <option>Новое Шигалеево</option>
                    <option>Орел д</option>
                    <option>Осиново</option>
                    <option>Пестрецы</option>
                    <option>Песчано-Ковалинское сельское поселение</option>
                    <option>Песчаные ковали</option>
                    <option>Приволжский</option>
                    <option>Рыбная слобода ПГТ</option>
                    <option>Советский</option>
                    <option>Сокуры</option>
                    <option>Среднее Девятово с</option>
                    <option>Столбище</option>
                    <option>Тюлячи с</option>
                    <option>Усады</option>
                    <option>Усады с</option>
                    <option>Царёво д</option>
                    <option>Шеланга с</option>
                    <option>Юдино</option>
                    <option>город Чистополь</option>
                    <option>жилой массив Залесный</option>
                    <option>жилой массив Новое Аракчино</option>
                    <option>пгт. Алексеевское</option>
                    <option>посёлок Дачное</option>
                    <option>село Большие Яки</option>
                    <option>село Масловка</option>
                    <option>село Новый Кинер</option>
                </select>
                <button id="confirmSelection">Подтвердить</button>
            </div>
        </div>

        <script src="https://api-maps.yandex.ru/2.1/?apikey=db164d78-6e0f-4c7f-b20b-d116c15d57f3&lang=ru_RU"></script>
        <br>
        <div class="input-container">
            <span class="description-block-params">Площадь</span>
            <div class="divider"></div>
            <input type="text" placeholder="м²" id="square" class="input-field"/>
            <span class="description-block-params">Количество комнат</span>
            <div class="divider"></div>
            <input type="text" placeholder="Если студия, введите 0" id="rooms" class="input-field" />
        </div>
        <div class="input-container">
            <span class="description-block-params">Год постройки</span>
            <div class="divider"></div>
            <input type="number" placeholder="Год" id="building_year" class="input-field" min="1800" max="2024" />
            <span class="description-block-params">Ремонт</span>
            <div class="divider"></div>
            <select id="keep">
                <option value="good">Хороший</option>
                <option value="cosmetic">Косметический</option>
                <option value="design">Дизайнерский</option>
                <option value="black">Черновой</option>
                <option value="well_black">Улучшенный черновой</option>
                <option value="half">Частичный</option>
                <option value="need">Без ремонта</option>
            </select>
        </div>
        <div class="input-container">
            <span class="description-block-params">Количество этажей</span>
            <div class="divider"></div>
            <input type="text" placeholder="Число: 1, 3, 5, ..." id="floors" class="input-field" />
            <span class="description-block-params">Тип жилья</span>
            <div class="divider"></div>
            <select id="type">
                <option value="flat">Квартира</option>
                <option value="room">Комната</option>
                <option value="apart">Апартаменты</option>
                <option value="obshaga">Общежитие</option>
            </select>
        </div>
        <div class="input-container">
            <span class="description-block-params">Этаж</span>
            <div class="divider"></div>
            <input type="text" placeholder="Число: 1, 3, 5, ..." id="floor" class="input-field" />
            <span class="description-block-params">Евроформат</span>
            <div class="divider"></div>
            <select id="euro">
                <option value="True">Да</option>
                <option value="">Нет</option>
            </select>
        </div>
        <div class="input-container">
            <span class="description-block-params">Балкон</span>
            <div class="divider"></div>
            <select id="balcon">
                <option value="no_balcon">Нет балкона</option>
                <option value="yes_balcon">Балкон</option>
                <option value="loggia">Лоджия</option>
                <option value="more_balcon">Большой балкон</option>
                <option value="more_loggia">Большая лоджия</option>
                <option value="erker">Эркер</option>
                <option value="terrace">Терраса</option>
            </select>
            <span class="description-block-params">Количество спален</span>
            <div class="divider"></div>
            <input type="text" placeholder="Число: 1, 3, 5, ..." id="bedrooms_cnt" class="input-field" />
        </div>

        <div class="input-container">
            <span class="description-block-params">Ипотека</span>
            <div class="divider"></div>
            <select id="mortgage">
                <option value="True">Да</option>
                <option value="">Нет</option>
            </select>
            <span class="description-block-params">Тип стен</span>
            <div class="divider"></div>
            <div class="divider"></div>
            <select id="wall_id">
                <option value="65.0">Блочные</option>
                <option value="11.0">Панельные</option>
                <option value="15.0">Кирпичные</option>
                <option value="12.0">Монолитные</option>
                <option value="64.0">Кирпично-монолитные</option>
            </select>
        </div>


        <button class="start-button" id="sendData">Рассчитать</button>

        </div>
        </script>
        <div class="foot">
            <footer>
                <p>&copy; RealtyOracle, 2024</p>
            </footer>
        </div>
    </div>
    
</body>
</html>
