<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RealtyOracle</title>
    <link rel="stylesheet" href="../static/css/cities.css">
    <link rel="icon" href="../static/src/logo.png" type="image/x-icon">
    <script src="../static/js/ymap.js" defer></script>
    <script src="../static/js/modal.js" defer></script>
    <script src="../static/js/submit.js" defer></script>
    <script src="../static/js/read_data_msk.js" defer></script>
    <script src="../static/js/transition.js" defer></script>

</head>
<body>
    <div class="header">
        <div class="header-content">
            <img src="../static/src/logo.png" alt="Логотип RealtyOracle" class="header-logo" id="logo">
        </div>
    </div>
    <div class="container">
        <div class="description-block">
            <h1>Москва</h1>
        </div>

        <div class="address-selector">
            <button id="selectAddress">Выбрать</button>
            <input type="text" id="addressInput" placeholder="Выберите адрес" readonly>
        </div>
        
        <!-- Модальное окно -->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Введите адрес или выберите точку на карте</p>
                <div id="map" class="yamap"></div>
                <input type="text" id="selectedLocation" placeholder="Выбранное местоположение будет отображаться здесь" readonly>
                <select id="districtSelector" style="overflow-y: auto;">
                    <option value="" disabled selected>Выберите район</option>
                    <option>А-105</option>
                    <option>Академический</option>
                    <option>Алексеевский</option>
                    <option>Алтуфьевский</option>
                    <option>Арбат</option>
                    <option>Аэропорт</option>
                    <option>Бабушкинский</option>
                    <option>Басманный</option>
                    <option>Беговой</option>
                    <option>Бибирево</option>
                    <option>Бирюлёво Восточное</option>
                    <option>Бирюлёво Западное</option>
                    <option>Богородское</option>
                    <option>Боровское шоссе</option>
                    <option>Братеево</option>
                    <option>Бускудниковский</option>
                    <option>Бутырский</option>
                    <option>Варшавское шоссе</option>
                    <option>Вешняки</option>
                    <option>Внуково</option>
                    <option>Войковский</option>
                    <option>Волоколамское шоссе</option>
                    <option>Восточное Дегунино</option>
                    <option>Восточное Измайлово</option>
                    <option>Восточный</option>
                    <option>Выхино-Жулебино</option>
                    <option>Гагаринский</option>
                    <option>Головинский</option>
                    <option>Голубое деревня</option>
                    <option>Гольяново</option>
                    <option>Даниловский</option>
                    <option>Дмитровский</option>
                    <option>Дмитровское шоссе</option>
                    <option>Донской</option>
                    <option>Дорогомилово</option>
                    <option>Егорьевское шоссе</option>
                    <option>Замоскворечье</option>
                    <option>Западное Дегунино</option>
                    <option>Зюзино</option>
                    <option>Зябликово</option>
                    <option>Ивановское</option>
                    <option>Измайлово</option>
                    <option>Ильинское шоссе</option>
                    <option>Капотня</option>
                    <option>Киевское шоссе</option>
                    <option>Клин</option>
                    <option>Коньково</option>
                    <option>Коптево</option>
                    <option>Косино-Ухтомский</option>
                    <option>Котловка</option>
                    <option>Красносельский</option>
                    <option>Крылатское</option>
                    <option>Крюково</option>
                    <option>Кузьминки</option>
                    <option>Кунцево</option>
                    <option>Куркино</option>
                    <option>Левобережный</option>
                    <option>Ленинградское шоссе</option>
                    <option>Лефортово</option>
                    <option>Лианозово</option>
                    <option>Ломоносовский</option>
                    <option>Лосиноостровский</option>
                    <option>Люблино</option>
                    <option>М-4</option>
                    <option>Марфино</option>
                    <option>Марьина Роща</option>
                    <option>Марьино</option>
                    <option>Матушкино</option>
                    <option>Метрогородок</option>
                    <option>Мещанский</option>
                    <option>Минское шоссе</option>
                    <option>Митино</option>
                    <option>Можайский</option>
                    <option>Можайское шоссе</option>
                    <option>Молжаниновский</option>
                    <option>Москворечье-Сабурово</option>
                    <option>Московское направление</option>
                    <option>Нагатино-Садовники</option>
                    <option>Нагатинский Затон</option>
                    <option>Нагорный</option>
                    <option>Некрасовка</option>
                    <option>Нижегородский</option>
                    <option>Ново-Переделкино</option>
                    <option>Новогиреево</option>
                    <option>Новокосино</option>
                    <option>Новорижское шоссе</option>
                    <option>Новорязанское шоссе</option>
                    <option>Носовихинское шоссе</option>
                    <option>Обручевский</option>
                    <option>Октябрьский</option>
                    <option>Орехово-Борисово Северное</option>
                    <option>Орехово-Борисово Южное</option>
                    <option>Останкинский</option>
                    <option>Отрадное</option>
                    <option>Очаково-Матвеевское</option>
                    <option>Перово</option>
                    <option>Печатники</option>
                    <option>Покровское-Стрешнево</option>
                    <option>Преображенское</option>
                    <option>Пресненский</option>
                    <option>Проспект Вернадского</option>
                    <option>Раменки</option>
                    <option>Ростокино</option>
                    <option>Рублёво-Успенское шоссе</option>
                    <option>Рязанский</option>
                    <option>Савёлки</option>
                    <option>Савёловский</option>
                    <option>Свиблово</option>
                    <option>Северное Бутово</option>
                    <option>Северное Измайлово</option>
                    <option>Северное Медведково</option>
                    <option>Северное Тушино</option>
                    <option>Северный</option>
                    <option>Силино</option>
                    <option>Симферовопольское шоссе</option>
                    <option>Сокол</option>
                    <option>Соколиная Гора</option>
                    <option>Сокольники</option>
                    <option>Солнцево</option>
                    <option>Старое Крюково</option>
                    <option>Старое Симферопольское</option>
                    <option>Строгино</option>
                    <option>Таганский</option>
                    <option>Тверской</option>
                    <option>Текстильщики</option>
                    <option>Тимирязевский</option>
                    <option>Тропарёво-Никулино</option>
                    <option>Тёплый Стан</option>
                    <option>Фили-Давыдково</option>
                    <option>Филёвский Парк</option>
                    <option>Хамовники</option>
                    <option>Ховрино</option>
                    <option>Хорошёво-Мнёвники</option>
                    <option>Хорошёвский</option>
                    <option>Царицыно</option>
                    <option>Чертаново Северное</option>
                    <option>Чертаново Центральное</option>
                    <option>Чертаново Южное</option>
                    <option>Черёмушки</option>
                    <option>Щукино</option>
                    <option>Щёлковское шоссе</option>
                    <option>Южное Бутово</option>
                    <option>Южное Медведково</option>
                    <option>Южное Тушино</option>
                    <option>Южнопортовый</option>
                    <option>Якиманка</option>
                    <option>Ярославский</option>
                    <option>Ярославское шоссе</option>
                    <option>Ясенево</option>
                    <option>поселение Внуковское</option>
                    <option>поселение Воскресенское</option>
                    <option>поселение Десёновское</option>
                    <option>поселение Киевский</option>
                    <option>поселение Клёновское</option>
                    <option>поселение Кокошкино</option>
                    <option>поселение Краснопахорское</option>
                    <option>поселение Марушкинское</option>
                    <option>поселение Михайлово-Ярцевское</option>
                    <option>поселение Московский</option>
                    <option>поселение Мосрентген</option>
                    <option>поселение Новофёдоровское</option>
                    <option>поселение Первомайское</option>
                    <option>поселение Роговское</option>
                    <option>поселение Рязановское</option>
                    <option>поселение Сосенское</option>
                    <option>поселение Троицк</option>
                    <option>поселение Филимонковское</option>
                    <option>поселение Щаповское</option>
                </select>
                <button id="confirmSelection">Подтвердить</button>
            </div>
        </div>

        <script src="https://api-maps.yandex.ru/2.1/?apikey=db164d78-6e0f-4c7f-b20b-d116c15d57f3&lang=ru_RU"></script>
        <br>
        <div class="input-container">
            <span class="description-block-params">Площадь</span>
            <div class="divider"></div>
            <input type="text" placeholder="м²" id="square" class="input-field"/>
            <span class="description-block-params">Количество комнат</span>
            <div class="divider"></div>
            <input type="text" placeholder="Если студия, введите 0" id="rooms" class="input-field" />
        </div>
        <div class="input-container">
            <span class="description-block-params">Статус недвижимости</span>
            <div class="divider"></div>
            <select id="class">
                <option value="newhousesflats">В новом доме</option>
                <option value="flats">В старом доме</option>
            </select>
            <span class="description-block-params">Тип жилья</span>
            <div class="divider"></div>
            <select id="type">
                <option value="flat">Квартира</option>
                <option value="room">Комната</option>
                <option value="apart">Апартаменты</option>
                <option value="obshaga">Общежитие</option>
            </select>
        </div>
        <div class="input-container">
            <span class="description-block-params">Количество этажей</span>
            <div class="divider"></div>
            <input type="text" placeholder="Число: 1, 3, 5, ..." id="floors" class="input-field" />
            <span class="description-block-params">Этаж</span>
            <div class="divider"></div>
            <input type="text" placeholder="Число: 1, 3, 5, ..." id="floor" class="input-field" />
        </div>

        <div class="input-container">
            <span class="description-block-params">Тип стен</span>
            <div class="divider"></div>
            <div class="divider"></div>
            <select id="wall_id">
                <option value="65.0">Блочные</option>
                <option value="11.0">Панельные</option>
                <option value="15.0">Кирпичные</option>
                <option value="12.0">Монолитные</option>
                <option value="64.0">Кирпично-монолитные</option>
            </select>
        </div>


        <button class="start-button" id="sendData">Рассчитать</button>

        </div>
        <div class="foot">
            <footer>
                <p>&copy; RealtyOracle, 2024</p>
            </footer>
        </div>
    </div>
    
</body>
</html>
