<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RealtyOracle</title>
    <link rel="stylesheet" href="../static/css/cities.css">
    <link rel="icon" href="../static/src/logo.png" type="image/x-icon">
    <script src="../static/js/ymap.js" defer></script>
    <script src="../static/js/modal.js" defer></script>
    <script src="../static/js/submit.js" defer></script>
    <script src="../static/js/read_data_towns.js" defer ></script>
    <script src="../static/js/try_year.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="description-block">
            <h1>Новосибирск</h1>
        </div>

        <div class="address-selector">
            <button id="selectAddress">Выбрать</button>
            <input type="text" id="addressInput" placeholder="Выберите адрес" readonly>
        </div>
        
        <!-- Модальное окно -->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Введите адрес или выберите точку на карте</p>
                <div id="map" class="yamap"></div>
                <input type="text" id="selectedLocation" placeholder="Выбранное местоположение будет отображаться здесь" readonly>
                <select id="districtSelector" style="overflow-y: auto;">
                    <option value="" disabled selected>Выберите район</option>
                    <option>Агролес пос</option>
                    <option>БДО</option>
                    <option>Барышево с</option>
                    <option>Бердск</option>
                    <option>Бийск</option>
                    <option>Болотное</option>
                    <option>Верх-Тула</option>
                    <option>Военный городок</option>
                    <option>Голубой залив пос</option>
                    <option>Горный р.п.(Тогучинский район)</option>
                    <option>Двуречье пос</option>
                    <option>Дзержинский</option>
                    <option>Дорогино рабочий поселок</option>
                    <option>Евсино \u200bст</option>
                    <option>Егоровка с</option>
                    <option>Железнодорожный</option>
                    <option>Заельцовский район</option>
                    <option>Здвинск с</option>
                    <option>Искитим</option>
                    <option>Каинская Заимка пос</option>
                    <option>Калининский</option>
                    <option>Каменка с</option>
                    <option>Керамкомбинат пос</option>
                    <option>Кировский</option>
                    <option>Колывань</option>
                    <option>Кольцово</option>
                    <option>Космический микрорайон </option>
                    <option>Коченево пос</option>
                    <option>Коченевский район</option>
                    <option>Краснообск пос</option>
                    <option>Красный Сокол</option>
                    <option>Красный Яр пос</option>
                    <option>Крахаль</option>
                    <option>Криводановка</option>
                    <option>Кудряшовский пос</option>
                    <option>Купино</option>
                    <option>Легостаево</option>
                    <option>Ленинский</option>
                    <option>Ленинское с</option>
                    <option>Линево</option>
                    <option>Листвянский пос</option>
                    <option>Ложок пос</option>
                    <option>Марусино с</option>
                    <option>Маслянино пос</option>
                    <option>Микрорайон</option>
                    <option>Мичуринский пос</option>
                    <option>Молодежный микрорайон </option>
                    <option>Мошково р.п</option>
                    <option>Новолуговое</option>
                    <option>Новошилово с</option>
                    <option>Новый пос</option>
                    <option>Обь</option>
                    <option>Озерный пос</option>
                    <option>Октябрьский</option>
                    <option>Октябрьский пос (Мошковский район)</option>
                    <option>Омск</option>
                    <option>Ордынское</option>
                    <option>Первомайский</option>
                    <option>Петровский пос</option>
                    <option>Посевная Р/П</option>
                    <option>Раздольный</option>
                    <option>Репьево с</option>
                    <option>Речкуновская Зона Отдыха</option>
                    <option>Садовый пос</option>
                    <option>Северный микрорайон </option>
                    <option>Смоленский пос</option>
                    <option>Советский</option>
                    <option>Сокур с</option>
                    <option>Станционно-Ояшинский р.п</option>
                    <option>Тальменка с. (Искитимский р-н)</option>
                    <option>Татарск</option>
                    <option>Тогучин</option>
                    <option>Толмачево с</option>
                    <option>Тулинский п</option>
                    <option>Центр</option>
                    <option>Центральный</option>
                    <option>Чажемто с. (Томская область)</option>
                    <option>Черепаново</option>
                    <option>Чулым</option>
                    <option>Шерегеш п</option>
                    <option>Элитный пос</option>
                    <option>Южный микрорайон </option>
                    <option>Ярково с</option>
                </select>
                <button id="confirmSelection">Подтвердить</button>
            </div>
        </div>

        <script src="https://api-maps.yandex.ru/2.1/?apikey=db164d78-6e0f-4c7f-b20b-d116c15d57f3&lang=ru_RU"></script>
        <br>
        <div class="input-container">
            <span class="description-block-params">Площадь</span>
            <div class="divider"></div>
            <input type="text" placeholder="м²" id="square" class="input-field"/>
            <span class="description-block-params">Количество комнат</span>
            <div class="divider"></div>
            <input type="text" placeholder="Если студия, введите 0" id="rooms" class="input-field" />
        </div>
        <div class="input-container">
            <span class="description-block-params">Год постройки</span>
            <div class="divider"></div>
            <input type="number" placeholder="Год" id="building_year" class="input-field" min="1800" max="2024" />
            <span class="description-block-params">Ремонт</span>
            <div class="divider"></div>
            <select id="keep">
                <option value="good">Хороший</option>
                <option value="cosmetic">Косметический</option>
                <option value="design">Дизайнерский</option>
                <option value="black">Черновой</option>
                <option value="well_black">Улучшенный черновой</option>
                <option value="half">Частичный</option>
                <option value="need">Без ремонта</option>
            </select>
        </div>
        <div class="input-container">
            <span class="description-block-params">Количество этажей</span>
            <div class="divider"></div>
            <input type="text" placeholder="Число: 1, 3, 5, ..." id="floors" class="input-field" />
            <span class="description-block-params">Тип жилья</span>
            <div class="divider"></div>
            <select id="type">
                <option value="flat">Квартира</option>
                <option value="room">Комната</option>
                <option value="apart">Апартаменты</option>
                <option value="obshaga">Общежитие</option>
            </select>
        </div>
        <div class="input-container">
            <span class="description-block-params">Этаж</span>
            <div class="divider"></div>
            <input type="text" placeholder="Число: 1, 3, 5, ..." id="floor" class="input-field" />
            <span class="description-block-params">Евроформат</span>
            <div class="divider"></div>
            <select id="euro">
                <option value="True">Да</option>
                <option value="False">Нет</option>
            </select>
        </div>
        <div class="input-container">
            <span class="description-block-params">Балкон</span>
            <div class="divider"></div>
            <select id="balcon">
                <option value="no_balcon">Нет балкона</option>
                <option value="yes_balcon">Балкон</option>
                <option value="loggia">Лоджия</option>
                <option value="more_balcon">Большой балкон</option>
                <option value="more_loggia">Большая лоджия</option>
                <option value="erker">Эркер</option>
                <option value="terrace">Терраса</option>
            </select>
            <span class="description-block-params">Количество спален</span>
            <div class="divider"></div>
            <input type="text" placeholder="Число: 1, 3, 5, ..." id="bedrooms_cnt" class="input-field" />
        </div>

        <div class="input-container">
            <span class="description-block-params">Ипотека</span>
            <div class="divider"></div>
            <select id="mortgage">
                <option value="True">Да</option>
                <option value="False">Нет</option>
            </select>
            <span class="description-block-params">Тип стен</span>
            <div class="divider"></div>
            <div class="divider"></div>
            <select id="wall_id">
                <option value="65.0">Блочные</option>
                <option value="11.0">Панельные</option>
                <option value="15.0">Кирпичные</option>
                <option value="12.0">Монолитные</option>
                <option value="64.0">Кирпично-монолитные</option>
            </select>
        </div>


        <button class="start-button" id="sendData">Рассчитать</button>

        </div>
        <div class="foot">
            <footer>
                <p>&copy; RealtyOracle, 2024</p>
            </footer>
        </div>
    </div>
    
</body>
</html>
