<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/second.css">
    <title>Second</title>
</head>
<body>
    <div class="container">
        <h1>Выберите город, в котором хотите сделать предсказание цены.</h1>
        <button class="button">Москва</button>
        <button class="button">Санкт-Петербург</button>
        <button class="button">Нижний Новгород</button>
        <button class="button">Казань</button>
        <button class="button">Новосибирск</button>
        <button class="button">Екатеринбург</button>
    </div>
    <div class="feedback">
        <h2>Отправьте нам сообщение!</h2>
        <p>Если у Вас есть вопросы или предложения по сотрудничеству, заполните форму ниже.</p>
        <form>
            <input type="text" placeholder="Ваше имя" name="name" required>
            <input type="email" placeholder="Ваш email" name="email" required>
            <textarea placeholder="Ваше сообщение" name="message" required></textarea>
            <button type="submit" class="button submit-button">Отправить</button>
        </form>
    <br>
    <br>
    <br>
    </div>
    
    <div class="foot">
        <footer>
            <p>&copy; RealtyOracle, 2024</p>
        </footer>
    </div>
    
</body>
</html>
